<div class="loading-overlay" *ngIf="loading">
    <div class="loading-indicator">
      <mat-spinner class="loading-spinner" diameter="32"></mat-spinner>
      <p>Cargando...</p>
    </div>
  </div>
  
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="row justify-content-between">
        <div class="col-lg-4">
          <mat-form-field appearance="outline" class="w-100 hide-hint">
            <mat-label>{{'admin.corporation.SearchCorporation' | translate}}</mat-label>
            <input matInput [(ngModel)]="searchText" (keyup)="applyFilter()"/>
            <mat-icon matSuffix>
              <i-tabler name="search" class="icon-20"></i-tabler>
            </mat-icon>
          </mat-form-field>
        </div>
        <div class="col-lg-4 d-flex align-items-center justify-content-end">
          <div class="buttons_right">

            <button mat-flat-button (click)="openDialogCreate()" color="primary">
              {{'admin.corporation.addCorporation' | translate}}
            </button >
  
            <button mat-mini-fab (click)="refreshPage()" color="primary">
              <mat-icon>refresh</mat-icon>
            </button>
          </div>
          
         
        </div>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-card class="cardWithShadow">
    <mat-card-content class="p-24">
      <div class="table-responsive">
        <table mat-table [dataSource]="dataSource" class="w-100">
          <ng-container matColumnDef="idcorporacion">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">#</th>
            <td mat-cell *matCellDef="let element">{{ element.idcorporacion }}</td>
          </ng-container>
  
  
          <ng-container matColumnDef="nombrecorporacion">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.name' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.nombrecorporacion }}
            </td>
          </ng-container>

         
  
  
          <ng-container matColumnDef="representantelegal">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.legal_representative' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.representantelegal }}
            </td>
          </ng-container>


          <ng-container matColumnDef="ruc">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.dni' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              {{ element.ruc }}
            </td>
          </ng-container>
  
          <ng-container matColumnDef="status">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.status' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
              <span class="rounded f-w-600 p-6 p-y-4 f-s-12" [ngClass]="element.status ? 'bg-light-primary text-primary' : 'bg-light-error text-error'">
                {{ element.status ? 'Activo' : 'Inactivo' }} <!--| date : "fullDate"-->
              </span>
            </td>
          </ng-container>

          <ng-container matColumnDef="telefonocorporacion">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.phone' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="f-s-14">
                {{ element.telefonocorporacion  }} 
            </td>
          </ng-container>
  
          <ng-container matColumnDef="action">
            <th mat-header-cell *matHeaderCellDef class="f-s-16 f-w-600">
              {{'admin.corporation.action' | translate}}
            </th>
            <td mat-cell *matCellDef="let element" class="action-link">
              <a (click)="viewPage(element.idcorporacion)"  class="m-r-10 cursor-pointer">
                <i-tabler name="eye"  class="icon-18"></i-tabler>
                
              </a>
              <a  (click)="editPage(element.idcorporacion)" class="m-r-10 cursor-pointer">
                <i-tabler name="edit" class="icon-18"></i-tabler>
              </a>
              <a (click)="openDialog('Delete',element)" class="m-r-10 cursor-pointer">
                <i-tabler name="trash" class="icon-18"></i-tabler>
              </a>
            </td>
          </ng-container>
  
          <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
          <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        </table>
        <mat-paginator
          [length]="totalCount"
          [pageSize]="pageSize"
          [pageSizeOptions]="[5, 10, 20]"
          showFirstLastButtons
          (page)="onPageChanged($event)"
        ></mat-paginator>
      </div>
    </mat-card-content>
  </mat-card>

  

